[submodule "Resume"]
	path = resume
	url = https://github.com/blainelewis1/Resume
[submodule "projects/EarthquakeVisualizer"]
	path = projects/earthquakes
	url = https://github.com/blainelewis1/EarthquakeVisualizer.git
[submodule "projects/Blockster"]
	path = projects/blockster
	url = https://github.com/mfritze/Blockster.git
[submodule "projects/Algomations"]
	path = projects/algomations
	url = https://github.com/blainelewis1/Algomations.git
[submodule "projects/Balance"]
	path = projects/balance
	url = https://github.com/blainelewis1/Balance
[submodule "projects/Schools"]
	path = projects/schools
	url = https://github.com/blainelewis1/Schools
[submodule "projects/Pongin"]
	path = projects/brickitybreaker
	url = https://github.com/blainelewis1/BrickityBreaker
