[submodule "Resume"]
	path = projects/Resume
	url = https://github.com/blainelewis1/Resume
[submodule "projects/EarthquakeVisualizer"]
	path = projects/EarthquakeVisualizer
	url = https://github.com/blainelewis1/EarthquakeVisualizer.git
