[submodule "Resume"]
	path = resume
	url = https://github.com/blainelewis1/Resume
[submodule "projects/EarthquakeVisualizer"]
	path = tinkers/earthquakes
	url = https://github.com/blainelewis1/EarthquakeVisualizer.git
[submodule "projects/Blockster"]
	path = tinkers/blockster
	url = https://github.com/mfritze/Blockster.git
[submodule "projects/Algomations"]
	path = tinkers/algomations
	url = https://github.com/blainelewis1/Algomations.git
[submodule "projects/Balance"]
	path = tinkers/balance
	url = https://github.com/blainelewis1/Balance
[submodule "projects/Schools"]
	path = tinkers/schools
	url = https://github.com/blainelewis1/Schools
[submodule "projects/Pongin"]
	path = tinkers/brickitybreaker
	url = https://github.com/blainelewis1/BrickityBreaker
