/*csslint ids:false*/
/*csslint box-model:false*/


/*
    TODO: tweak breakpoints so that resume is last line, theres always two lines for each
    then do the same for the other breakppints
    make sure my name is always on one line.
*/

html {
    overflow-y:scroll;
}

img {
  max-width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    color: #1a1a1a;
    font-family: Helvetica, Arial, sans-serif;
    margin:auto;
    word-wrap: break-word;
}

a {
    text-decoration: none;
}

a, a:visited, header {
    color : #E8E830;
}

h2 {
    font-size: 4em;
}

section {
    padding: 10vh 10vw 10vh 10vw;
    clear: both;
}
section header {
    font-size: 3em;
}

/** INTRO **/

#intro {
    /*background-color: #a0a0a0;*/
    background-color: #1F1F1F;

    text-align: center;
    font-size: 1.5vh;
    padding: 10vh 5vw 8vh 5vw;               /* 20 */
    height:100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro p, #about-me p {
    color: #666666;
}

#intro header {
    font-size: 7em;
    font-family: Rockwell, Arvo;
}

#social img {
    height:4vh;
    padding-right: 1%;
}

#social {
    margin-top: 3vh;
}

#blurb > * {
    margin-top: 2vh;
}

#blurb p {
    font-size: 2em;
    margin: auto;
    margin-top: 2vh;
}

@media (min-width: 500px) {
    #blurb p {
        max-width:70vw;
    }
}

@media (min-width: 900px) {
    #blurb p {
        max-width:50vw;
    }
}

@media (min-width: 1300px) {
    #blurb p {
        max-width:30vw;
    }
}

#blurb {
    margin: auto;
}

#tinkers {
    /* Background pattern from subtlepatterns.com */
    /* I changed the brightness to fix some contrast issues */
    background-color: #5a5a5a;
    background-image: url('/images/backgrounds/footer_lodyas.png');
    background-repeat: repeat;
    background-size: auto;
}

#tinkers article {
    width:100%;
}

article:first-of-type {
    margin-top:32vh;
}

article:last-of-type {
    margin-bottom:15vh;
}

article {
    clear: both;
    margin: 0 5vw 0 5vw;
    text-align: left;
}

article header {
    margin-bottom: 2vh;
    font-size: 2em;
}

.arrow {
    /*TODO: padding*/
    padding: 1vh;

    position: absolute;
    margin: -20vh auto;
    right: 0;
    width: 30vh;
    height:45vh;
    left: 0;
    background-image: url('/images/transition.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    vertical-align: middle;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


article .text, article .resources {
    width: 48%;
    display: inline-block;
}
article .text {
    float: left;
}
article .resources {
    float: right;
}

#tinkers img {
    border-radius: 1em;
}

@media (max-width: 700px) {
    article .text, article .resources {
        max-width:100%;
        width:100%;
        float:none;
    }

    article .text {
        margin-bottom: 3vh;
    }

    article {
        margin-left: 0;
        margin-right: 0;
    }
}

#about-me {
    background-color: #1F1F1F;
    min-height:100vh;
    display: inline-block;
}

#about-me #picture {
    width:29%;
    float:left;
}

#about-me article {
    float:right;
    width:69%;
}

/** GLOBAL **/

article {
    line-height: 130%;
}

.seperator {
    width:30%;
    height:2vh;

    margin: 7vh 35% 7vh 35%;

    border-radius: 2vh;
    border-top: 2vh;
    border-style:solid;
    border-color: #1F1F1F;
    clear:both;
}

/** FORMS **/
input[type=button] {
  background-color:#0077BE;
  font-size: 1em;
  height: 5vh;
  color: white;
  border: none;
  margin-top: 1vh;
  padding:1vh;
}

input:not([type=submit]):not([type=file]):not([type=button]) {
  border:solid;
  border-color:#BBBBBB;
  border-width: thin;
  border-radius: 1vh;
  font-family: Helvetica;
  font-size: .75em;
  padding:1vh;
  margin: .5vh 0 .5vh 0;
}


/** UTILITIES **/
.expander {
  background-color:#0077BE;
  color: white;
  font-size: .75em;
  height:4vh;
  line-height: 3vh;
  margin:auto;
  vertical-align: middle;
  text-align: center;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  cursor:default;
}

.expander:after {
  margin-left:0.25vw;
}

.expander:before {
  margin-right:0.25vw;
}

.up:after, .up:before  {
  content:"\25B2";
}

.down:after, .down:before {
  content:"\25BC";

}

/* http://stackoverflow.com/a/12540569 */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.technologies li {
    display: inline-block;
    /*background-color: #779ECB;*/

    /*border-radius: 0.5em;
    border-width:1px;
    border-style:solid;
    border-color:black;

    /*padding: 1vh 1vw 1vh 1vw;*/
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    margin-right:0.5vw;
}

.technologies li::before, .technologies li::after {
    font-family: HelveticaBold;
    font-weight: bolder;
    font-size:1.5em;
}

.technologies li::after {
    content:'>';
    padding-left:0.5vw;
}

.technologies li::before {
    content:'<';
    padding-right:0.5vw;
}

.technologies li:last-of-type {
    margin-right:0;
}
.technologies {
    margin: 2vh 0 2vh 0;
}
