/** GLOBAL **/

* {
    box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  color: #222222;

  margin:auto;
}

.seperator {
  margin:auto;

  margin-bottom:5vh;
  margin-top:5vh;

  width:20%;
  height:5px;

  background-color: #222222;
  display:block;
}

section {
  clear:both;
}

section header {
  font-size:3em;
}

/** INTRO **/

#intro {
  height: 100vh;
  background-color: #779ECB;
}

#intro header {
  font-size: 15vh;
  padding-top: 5vh;
}

#intro h2 {
  font-size: 8vh;
  margin-top: 2vh;
}

#intro p {
  font-size: 3vh;
  max-width: 70vh;
  margin:auto;
  margin-top: 1vh;
}

#picture {
  border-radius: 5vh;
  width:10vh;
  height:10vh;
  margin:auto;
  margin-top:5vh;
  background-color: #222222;
}

/** ITEM **/

.item {
  clear:both;
  margin:2vh;
}

.item header {
  margin-bottom:2vh;
  font-size: 2em;
}

.item .text {
  width:49%;
  min-width:200px;
  display:inline-block;
  text-align:left;
  padding:1vh;

  float: left;
}

.item .resources {
  width:49%;
  display:inline-block;

  float: right;
}


/** EXPERIENCE **/

#experience article .text {
  float:right;
}

#experience article .resources {
  float:left;
}

/** PLAY **/

#play {
  background-color: #FFB347;
}

#play article .text {
  float:left;
}

#play article .resources {
  float:right;
}

/** ABOUT-ME **/
