@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&&family=Material+Icons&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Heebo, sans-serif;
}

body {
  font-family: Heebo, sans-serif;
}

figure {
  margin: 4em;
  text-align: center;
  color: #444;
  font-size: 0.9em;
}
