.project-info {
    display:inline-block;
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    margin:auto;
    max-width:300px;
}
.project-info article {
    background-color: #AAAAAA;
}

.project-info-button {
    font-weight:bold;
    font-family: arial;
    font-size: 2vw;
    vertical-align: middle;
    text-align: center;
    color:#AAAAAA;
    background-color: #444444;
    padding:0;
    width:2vw;
    height:2vw;
    line-height:2vw;
    cursor:pointer;
    left:0;
    top:0;
}
