<html ng-strict-di ng-app="BlaineLewis" lang="en">
    <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

    <meta name="theme-color" content="#1F1F1F">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Blaine Lewis is a developer, product manager and researcher. This is his personal website hosting some of his creations." />
    <meta name="robots" content="index,follow" />
    <meta name="keywords" content="algomations, blaine, lewis, blaine lewis, blainelewis1, blockster, balance, developer, product, manager, product manager, tinkerer, researcher, consultant, contractor" />

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80660221-1', 'auto');
      ga('send', 'pageview');
    </script>
    <link rel="stylesheet" type="text/css" href="style/main.css">
    <!-- TODO: My favicon is mediocre... -->
    <!-- TODO: maybe make images scale a bit better -->
    <!-- TODO: favicons to src folder -->
    <!-- TODO: clean gulp rule? -->
    <!-- TODO: do I need to pass the contrast tests? -->
    <!-- pass this http://wave.webaim.org/report#/blainelew.is -->
    <title>Blaine Lewis</title>
</head>
<body ng-controller="Controller">
    <section id="intro">
    <div>
        <header><h1>Blaine Lewis</h1></header>
        <div id="blurb">
            <p>Developer of all sorts. Researcher.<br />Product manager. Tinkerer.</p>
            <p>This is a page all about me and the things I've built. If you're interested check out my <!--<a href="/portfolio">portfolio</a> or --><a href="/resume">resume</a>.</p>
        </div>
    </div>
    </section>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Arvo&text=Blaine%20Lewis" />

    <section id="projects">
    <header class="arrow"><h2>Projects</h2></header>
        <article class="item clearfix" ng-repeat="project in projects | is_set : 'featured' | orderBy : 'featured' | limitTo : 4">
            <div class="text">
                <header>
                    <h3><a ng-href="{{project.url}}">{{project.title}}</a></h3>
                </header>
                <summary>
                    {{project.summary}}
                </summary>
            </div>
            <div class="resources" ng-repeat="resource in project.resources">
                <img alt="{{resource.alt}}" ng-src="{{resource.url}}" />
            </div>
            <div style="clear:both"></div><div ng-class="{'seperator' : !$last}" />
        </article>
    </section>

    <section id="about-me" class="clearfix">
        <header class="arrow"><h2>About me</h2></header>
            <div id="profile">
                <img alt="Profile picture of Blaine" src="/images/profile.png"/>
                <div id="social">
                  <a href="https://github.com/blainelewis1"><img alt="Github" src="images/logos/github/GitHub-Mark-Light-32px.png" /></a>
                  <a href="https://ca.linkedin.com/in/blainelewis1"><img alt="LinkedIn" src="images/logos/linkedin/In-White-34px-TM.png"/></a>
                  <a href="https://www.instagram.com/blaine.lewis.1"><img alt="Instagram" src="images/logos/instagram/glyph-logo_May2016.png"/></a>
                </div>
            </div>
            <article>
                <p>
                    I'm 22 and I was born in Edmonton, Canada. I love to travel, rock climb and be in a constant state of change. Whether it's a fast paced work environment or learning a new hobby I never stop.
                </p>
                <p>
                    When I was 12 years old my Uncle's girlfriend gave me a copy of Adobe Flash MX and I started making my first game. From there I took off learning a variety of languages and had my first internship in grade 10. I've worked for large companies like Microsoft as a program manager intern, wrote websites for friends and even worked in IT departments on enterprise solutions. I don't know what I want to work with but right now I spend my free time writing Javascript because it's so accessible and I can show my friends what I'm working on.
                </p>
                <p>
                    Don't be scared to <a href="mailto:blaine.lewis.1@outlook.com">contact me</a>, I'd love to hear from you!
                </p>
            </article>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="scripts/controller.js"></script>
</body>
</html>
